#Bus 001 Device 004: ID 067b:2303 Prolific Technology, Inc. PL2303 Serial Port
KERNEL=="ttyUSB[0-9]", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="GPS"

#Bus 001 Device 005: ID 0403:6001 Future Technology Devices International, Ltd FT232 Serial (UART) IC
KERNEL=="ttyUSB[0-9]", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="NANO"


